<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487613399839-utviqhr432nv9ufu54c034a7m566vhqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487613399839-utviqhr432nv9ufu54c034a7m566vhqi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487613399839-noc94e0bdurt2a5h6nh534hkralnkeuk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkE0lGCi3n9-0h2pKKCA9kez-oZnicCzs</string>
	<key>GCM_SENDER_ID</key>
	<string>487613399839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-10912</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-10912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487613399839:ios:17ddf62cfae8522072e62a</string>
</dict>
</plist>